
.know_detail{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.know_detail_top{
    width: 100%;
    height: 100px;
    h2{
        margin-top: 40px;
    }
}
.know_main{
    width: 100%;
    display: flex;
    .know_main_left{
        width:70% ;
        background: #fff;
        padding: 20px;
        >p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
    }
    .know_main_right{
        width:20%;
        background: #fff;
        margin-left: 40px;
        padding: 10px;
    }
}
.konw_list{
    width: 100%;
    margin-top: 15px;
}
.know_insed{
    padding: 10px;
}
.three_list_con{
    display: flex;
}
.three_list_item{
    margin-top: 8px;
    display: flex;
}
.three_list_con_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}