@media screen and (max-width:900px) {
  .detail{
      width: 100% !important;
      >div:nth-child(1){
        width: 100% !important;
      }
      >div:nth-child(2){
        display: none;
      }
  }
}
.detail {
  width: 70%;
  margin-top: 20px;
  border-radius: 1px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 0 auto;
  >div:nth-child(1){
    width: 70%;
    .detail_left {
      width: 100%;
      .detail_left_top {
        width: 100%;
        background-color: #fff;
        .detail_left_img {
          width: 100%;
          height: 500px;
          display: flex;
          justify-content: center;
          padding-top: 15px;
          img {
            width: 95%;
          }
        }
        .detail_left_box {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          padding: 20px 0 20px 0;
        }
        .detail_left_main {
          width: 100%;
          margin-top: 30px;
          display: flex;
          justify-content: center;
          .detail_left_main_link {
            width: 95%;
            padding-bottom: 30px;
            border-bottom: 1px dotted rgb(92, 91, 91);
          }
        }
        .detail_left_bottom {
          width: 100%;
          height: 100px;
          font-size: 12px;
          color: rgb(92, 91, 91);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .bottom {
        > p {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
        }
        .detail_left_bottom {
          background-color: #fff;
          .detail_left_bottom_Commentable {
            padding: 20px;
            textarea {
              height: 142px;
              min-height: 142px;
              max-height: 274px;
              overflow-y: hidden;
              resize: none;
            }
          }
          .detail_left_bottom_box {
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            .detail_left_bottom_box_svg {
              > span {
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.35);
                cursor: pointer;
                > span {
                  margin-left: 4px;
                  transform: translateY(1px);
                }
              }
            }
            div {
              button {
                line-height: 1.5715;
                position: relative;
                display: inline-block;
                font-weight: 400;
                white-space: nowrap;
                text-align: center;
                background-image: none;
                box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                user-select: none;
                touch-action: manipulation;
                height: 32px;
                padding: 4px 15px;
                font-size: 14px;
                border-radius: 2px;
                color: #000;
                background: #f5f5f5;
                border: 1px solid #d9d9d9;
                span {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
      .commentable {
        margin-top: 20px;
        width: 100%;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgb(18 18 18/10%);
        margin-top: 1rem;
        .ant-comment {
          margin-top: 15px;
          background-color: #fff;
          padding-left: 16px;
          .ant-comment-nested {
            transition-duration: 2s;
            .ant-comment {
              margin-top: 0;
            }
          }
        }
        .flag {
          .detail_left_bottom_Commentable {
            padding-right: 10px;
          }
        }
        .detail_left_bottom_box {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          padding-top: 1rem;
          .detail_left_bottom_box_svg {
            > span {
              display: flex;
              align-items: center;
              color: rgba(0, 0, 0, 0.35);
              cursor: pointer;
              > span {
                margin-left: 4px;
                transform: translateY(1px);
              }
            }
          }
          > div {
            button {
              border-color: #d9d9d9;
              color: rgba(0, 0, 0, 0.85);
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
  }
  >div:nth-child(2){
    width: 25%;
    .detail_right {
      width: 100%;
      .detail_right_head {
        width: 100%;
        background: #fff;
        >div{
        }
        h3 {
          border-bottom: 1px solid #eee;
        }
        > div {
          > ul {
            > li {
              height: 35px;
              display: flex;
              p{
                margin-right: 5px;
              }
            }
          }
        }
      }
      .detail_right_bottom{
        margin-top: 20px;
      }
    }
  }
  
}
.position {
  width: 50px;
  height: 210px;
  background-color: #fff;
  position: fixed;
  left: 13%;
  top: 30%;
  div {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      svg {
        width: 25px;
        height: 25px;
      }
    }
    .ant-badge {
      .ant-scroll-number {
        display: flex;
        border-radius: 35px;
        > span {
        }
      }
    }
  }
}
.detail_left_bottom_box {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  .detail_left_bottom_box_svg {
    > span {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.35);
      cursor: pointer;
      > span {
        margin-left: 4px;
        transform: translateY(1px);
      }
    }
  }
  div {
    button {
      line-height: 1.5715;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      background-image: none;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      user-select: none;
      touch-action: manipulation;
      height: 32px;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      color: #000;
      background: #f5f5f5;
      border: 1px solid #d9d9d9;
      span {
        display: inline-block;
      }
    }
  }
}
.toclist{
  margin-top: 10px;
  margin-bottom: 10px;
}
.toclist:nth-child(2){
  margin-left: 10px;
}
.toclist:nth-child(3){
  margin-left: 20px;
}
.toclist:nth-child(4){
  margin-left: 20px;
}
.toclist:nth-child(5){
  margin-left: 20px;
}
.toclist:nth-child(6){
  margin-left: 20px;
}
.active{
  color: rgb(245, 97, 195);
}
// .ant-modal-body{
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.pagination{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}