
.tab{
    margin-top: 50px;
    border: solid 1px #ccc;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    .tabnav{
        width: 100%;
        height: 50px;
        border-bottom: #f0f2f7;
        >ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            >li{
                margin-left:50px;
            }
        }
    }
    .tabcon{
        width: 100%;
        padding-left: 20px;
    }
}
.item{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f2f7;
    width: 100%;
}
.itemhead{
    h2{
        font-weight: bold;
    }
    span{
        margin-left: 8px;

        font-size: 16px;
        color: rgb(146, 145, 145);
    }
   
}
.itemcon{
    display: flex;
}
.ltemright{
    >p{
        display: flex;
        span{
            margin-left: 5px;
            font-size: 17px;
            
        }
    }
}
.navtop{
    cursor: pointer;
}

.navtop:active{
    color: rgb(243, 38, 93);
}
.fx{
    cursor: pointer; 
}
.itemlefy{
    img{
        width: 250px;
        height: 100px;
    }
}