@media screen and (max-width:700px) {
    .three{
        width: 100% !important;
    }
    .zuo{
        margin-left: 0% !important;
        overflow: hidden !important;
    }
}
.three{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    .knowpc{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .zuo{
        width: 71%;
        background: #fff;
        text-align: center;
        margin-left: 3%;
        .three_list{
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f0f2f7;
            width: 100%;
            padding: 15px;
            .three_list_item{
                display: flex;
                span{
                    margin-left: 8px;
                    font-size: 10px;
                    color: rgb(201, 199, 196);
                }
            }
            .three_list_con{
                display: flex;
                .three_list_con_left{
                   img{
                    width: 200px;
                    height: 100px;
                   }
                }
                .three_list_con_right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p:nth-child(2){
                      margin-top: 40px;
                    }
                    >p{
                        display: flex;
                        margin-left: 18px;
                        b{
                            margin:0 10px;
                        }
                    }
                }
            }
        }
    }
    .you{
        width: 25%;
    }
}
.fx{
    cursor: pointer; 
}