.home{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--node-text-color);
    // background-color: var(--background-color);
    background-color: #fff;
    .navinsed{
        width: 60%;
        height: 100%;
        display: flex;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 45%;
            >span{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30%;
            }

        }
        
    }
    
}
.link{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    .active{
        color: rgb(244, 36, 36);
    }
}
a{
    text-decoration: none;
}
.main{
    margin: 0 auto;
    width: 95%;
    background-color: var(--background-color);
    color: var(--node-text-color);
    // display: flex;
    margin-top: 20px;
    justify-content: center;
}
.tx{
    >img{
        width: 50px;
        height: 50px;
    }
}
.backtop{
    height: 40px;
    width:40px;
    line-height: '40px';
    border-radius: 4;
    background-color: '#1088e9';
    color: '#fff';
    text-align: 'center';
    font-size: 14;
}
.site-back-top-basic {
    color: rgba(64, 64, 64, 0.6);
  }
.write{
    width: 100%;
    height: 1000px;
}
.footer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}