.right{
    width: 100%;
}
.first_box{
    width: 100%;
    background: #fff;
    h3{
        border-bottom: 1px solid #eee;
    }
    >div{
        >ul{
            >li{
                height: 35px;
            }
        }
    }
}
.second_box{
    background: #fff;
    margin-top: 30px;
    h3{
        // padding: 20px;
        border-bottom: 1px solid #eee;
    }
}
.list_li{
    display: flex;
    align-items: center;
    p{
        margin-left: 10px;
    }
}
.list_li:hover{
    color: rgb(245, 97, 195);
}
.right_list{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    div{
        width: 100px;
        margin: 10px;
        // padding-left: px;
    }
    p{
        margin: 10px;
    }
}
.right_list:hover{
    color: rgb(245, 97, 195);
}
a{
    color: #000;
}

@for $i from 1 through 100{
    .list_li:nth-child(#{$i}){
        animation: an 0.3s linear 1 0.1s * $i;
    }
}
@for $i from 1 through 100{
    .right_list:nth-child(#{$i}){
        animation: an 0.3s linear 1 0.1s * $i;
    }
}

