@media screen and (max-width:700px) {
    .category{
        width: 100% !important;
    }
    .index_right{
        display: block !important;
    }
}
.category{
    width: 70%;
    margin-top: 20px;
    border-radius: 1px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    .category_left{
        width: 71%;
        padding-bottom: 10px;
        .category_left_top{
            width: 100%;
            height: 100px;
            background-color: #fff;
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            background-color: #fff;
        }
        .category_left_bottom{
            width: 100%;
            background-color: #fff;
            margin-top: 1px;
            .category_left_bottom_list{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
            .category_left_bottom_filter_list{
                .filter_list{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #f0f2f7;
                    width: 100%;
                    padding: 15px;
                    .filter_list_item{
                        display: flex;
                        span{
                            margin-left: 8px;
                            font-size: 10px;
                            color: rgb(201, 199, 196);
                        }
                    }
                    .filter_list_con{
                        display: flex;
                        .filter_list_con_right{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            >p{
                                display: flex;
                                span{
                                    margin-left: 5px;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .category_right{
        width: 25%;
    }
}
.active{
    color: rgb(243, 38, 93);
}