.MobileNav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3000;
}
.headimg{
    width: 50px;
    height: 50px;
    >img{
        width: 100%;
        height: 100%;
    }
    margin-left: 20px;
}
.all{
    margin-right: 20px;
}
.flag{
    bottom: 10px;
}
.rv-overlay{
    top: 60px;
}
.mobileul{
    width: 100%;
    height: 100%;
    >li{
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgb(237, 237, 237);
    }
}