.app{
    width: 100%;
    height: 100%;
}
.tryTop{
    width: 100%;
    height: 50px;
}
.trymain{
    width: 100%;
}
.tryfooter{
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}