.ant-modal-body{
    display: block;
}
.alertbox{
    display: flex;
}
.alertRight{
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}