@media screen and (max-width:900px) {
    .filterdeil{
        width: 100% !important;
    
    }
  }
.filterdeil{
    width: 70%;
    margin: 0 auto;
}
.filterdeiltop{
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        font-size: 18px;
        >b{
            font-size: 25px;
            color: rgb(239, 59, 191);
        }
        
    }
}



.filterdeilmain{
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
    .maintop{
        width: 100%;
        border-bottom: solid 1px #f0f0f0;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0;
        .ant-btn{
            margin-left: 5px;
            margin-top: 5px;
        }
    }
}
.mainconter{
    width: 100%;
}