@media screen and (max-width:700px) {
    .index{
        width: 100% !important;
    }
    .index_right{
        overflow: hidden;
    }
}
.index{
    width: 70%;
    margin-top: 20px;
    margin: 0 auto;
    .archpc{
        width: 100%;
        height: 100%;
        border-radius: 1px;
        display: flex;
        justify-content: space-between;
    }
    .index_left{
        width: 71%;
        padding-bottom: 10px;
        .index_nav{
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            background-color: #fff;
        }
        .index_main{
            width: 100%;
            margin-top: 1px;
            background-color: #fff;
            padding-bottom: 20px;
            h4{
                margin-bottom: 0em;
            }
            >h4:hover{
                color: #000;
            }
            p{
                margin-bottom: 0em;
            }
            ul{
                margin-left: 55px;
                li{
                    list-style: disc;
                    line-height: 50px;
                    cursor: pointer;
                }
                li:hover{
                    color: rgb(245, 97, 195);
                }
                @for $i from 1 through 100{
                    li:nth-child(#{$i}){
                        animation: an 0.3s linear 1 0.1s * $i;
                    }

                }
                
                
            }
        }
    }
    .index_right{
        width: 25%;
        // margin-right: 5%;
    }
}
