@import '~antd/dist/antd.css';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
html,body,#root,.home{
  width: 100%;
  height: 100%;
  background: var(--background-color);
  color: var(--node-text-color);
  --primary-color: #ff0064;
    --sun-color: #eec413;
    --link-color: #4299e1;
    --border-radius: 2px;
    --bg: #fff;
    --bg-second: #fff;
    --rgb-bg-second: 255,255,255;
    --bg-body: #e7eaee;
    --bg-footer: #292525;
    --bg-code: #f8f8f8;
    --blockquote-color: #fff;
    --main-text-color: rgba(0,0,0,0.85);
    --second-text-color: rgba(0,0,0,0.65);
    --disable-text-color: rgba(0,0,0,0.35);
    /* --border-color: #e5e6eb; */
    --box-shadow: 0 1px 3px rgb(18 18 18/10%);
    --scrollbar-bg: #dadada;
    --comment-editor-border-color: #d9d9d9;
    --comment-editor-disable-bg: #f5f5f5;
    --global-bg-opacoty: 0.75;
}
@keyframes an{
  0%{
    transform: translateX(-100px);
  }
  25%{
    transform: translateX(-75px);
  }
  50%{
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(0);
  }
}
h4{
  font-weight: bold;
  font-size: 17px;
}