.FilterRight{
    width: 100%;
}
.onebox{
    background-color: #fff;
    width: 100%;
    >ul{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        >li{
            width: 100%;
            display: flex;
            margin-bottom: 8px;
            padding: 0 20px;
            animation: 0.3s an ease-in 1;

        }
        @for $i from 1 through 100{
            li:nth-child(#{$i}){
                animation: an 0.3s linear 1 0.1s * $i;
            }

        }
        >li:hover{
            color: rgb(243, 26, 26);
        }
    }
}
h3{
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #f6f6f6;
    line-height: 50px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding-bottom: 20px;
    .ant-btn{
        margin: 8px 8px;
    }
}