@import '~antd/dist/antd.css';
@media screen and (max-width:900px) {
    .contener{
        width: 100% !important;
    }
}
.contener{
    margin-top: 20px;
    width: 70%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    .contenterout{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .contenerleft{
            width: 70%;
        }
        .contentright{
            width: 25%;
        }
    }
    
}

.banner{
    width: 100%;
    height: 314px;
}
.tab{
    margin-top: 50px;
    border: solid 1px #ccc;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    .tabnav{
        width: 100%;
        height: 50px;
        background-color: #fff;
        border-bottom: solid 1px #ccc;
        >ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            >li{
                margin-left: 10px;
            }
            li:hover{
                color: red;
            }
        }
    }
    .tabcon{
        width: 100%;
        padding-left: 20px;
        background-color: #fff;
    }
}
.item{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f2f7;
    width: 100%;
    h4{
        color: #000;
    }
}
.item:hover h4{
    color: hotpink;
}
.itemhead{
    display: flex;
    h4{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
    }
    span{
        margin-left: 8px;
        font-size: 10px;
        color: #8590a6;
    }
}
.itemcon{
    display: flex;
}
.ltemright{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    >p{
        display: flex;
        span{
            margin-left: 5px;
            
        }
    }
}
.navtop{
    cursor: pointer; 
}

.navtop:hover{
    color: rgb(243, 38, 93);
}
.fx{
    cursor: pointer; 
}
.itemlefy{
    img{
        width: 150px;
        height: 100px;
    }
}
.hh:hover{
    color: red;
}