/* 
    1,不用关心繁琐的class 命名规则
    2，不同担心样式被覆盖
    3，便于复用
    4，减少多余的css代码 实现css按需加载
*/
#app{
      width: 100%;
      height: 100%;
      background-color:var(--background-color);
      color:var(--node-text-color)
 }
 #nav{
   background-color: var(--background);
   color:var(--node-text-color)
 }
 
 #dark{
     background-color:var(--background-color);
     color:var(--node-text-color)
 }
 .dark_min{
   background-color: var(--background);
   color:var(--node-text-color)
 }
 #tabnav{
   background-color: var(--background);
   color:var(--node-text-color);
   border-color: #ccc;
 }
 #footer{
    background-color:var(--bg-color);
    color:var(--node-text-color)
 }
 #main{
    background-color:var(--background-main);
    color:var(--node-text-color)
 }
 #hcolor{
   color:var(--node-text-color)
 }