

:root.lint{
    --background-color:#f1f1f1;
    --node-text-color:#000000;
    --bg-color:#000000;
    --background:#fff;
    --background-main:#efefef
}

:root.dark{
    --background-color:#272b33;
    --node-text-color:#fff;
    --bg-color:#232334;
    --background:#363c48;
    --background-main:#232334
}